/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/dark-stripes-light.png");
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.background {
  margin: 30px;
  background-color: #222222d5;
  opacity: 0.3;
  filter: alpha(opacity=60);
  border-radius: 12px;
}

.logo {
  display: inline-block;
  height: 100%;
}

.logo>img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.mobile-about-me {
  display: none;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #slide-desktop {
    display: none;
  }
  img#octo-raf {
    display: none;
  }
  .mobile-about-me {
    color: black;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #slide-desktop {
    display: none;
  }
  img#octo-raf {
    display: none;
  }
  .mobile-about-me {
    color: black;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
